body {
background-color: tan;
font-family: sans-serif;
font-size: 14px;
margin-left: 10%;
}
h2 {
  font-family: serif;
  color: green;
}
/*.denumire {
  color: purple;
}
*/

#tea {
  border-style: dotted;
  border-color: green;
}
.produs {
border-width: medium;
border-style: double;
}

.coffee {
border-color: brown;
}
