table {
  border-width: medium;
  border-style: solid;
  border-collapse: collapse;
  align-content: center;
}
td {
  border-width: thin;
  border-style: solid;
  padding: 5px;

}
th {
  border-width: thin;
  border-style: solid;
  padding: 5px;
  background-color: #999999;
}

body {
  padding-left: 200px;
  padding-top: 100px;
}
