table {
  border-width: medium;
  border-style: solid;
  border-collapse: collapse;
  align-content: center;
  border-color: black;
}
td {
  border-width: thin;
  border-style: solid;
  padding: 5px;
}
th {
  padding: 5px;
  background-color: #dddddd;
  border: 1px solid black;
}

body {
  width: 45%;
  margin: 10% auto;
}

#hd {
  padding: 5px;
  background-color: #dddddd;
}
